@tailwind base;
@tailwind components;
@tailwind utilities;
.comic-style-font{
    font-family: "Carter One", system-ui;
    font-weight: 400;
    font-style: normal;
}

.character-name-style{
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-style: normal;
}
